<section class="filter-list__container" *ngIf="selectedCategoryList.length || filter.selectedPriceFrom || filter.selectedPriceTo ||
filter.selectedWarranty && filter.selectedWarranty !== 'ignoruj' || filter.purchaseDateFrom || filter.purchaseDateTo">
  <div fxLayout="row">
    <mat-chip-list *ngIf="selectedCategoryList.length" aria-label="category tags" class="my-chip-list">
      <div class="filter-list__chip">
        <span>Kategoria:</span>
        <mat-chip *ngFor="let category of selectedCategoryList"
                  [removable]="true" (removed)="removeFilter(category, 'category')">
          {{category.label}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </div>
    </mat-chip-list>
    <mat-chip-list *ngIf="filter.selectedPriceFrom || filter.selectedPriceTo" aria-label="price tags">
      <div class="filter-list__chip">
        <span>Cena:</span>
        <mat-chip [removable]="true" (removed)="removeFilter(filter, 'price')">
          <span *ngIf="filter.selectedPriceFrom">od {{filter.selectedPriceFrom}}</span><span *ngIf="filter.selectedPriceTo">do {{filter.selectedPriceTo}}</span><span>zł</span>
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </div>
    </mat-chip-list>
    <mat-chip-list *ngIf="filter.selectedWarranty && filter.selectedWarranty !== 'ignoruj'" aria-label="price tags">
      <div class="filter-list__chip">
        <span>Pozostało gwarancji:</span>
        <mat-chip [removable]="true" (removed)="removeFilter(filter.selectedWarranty, 'warranty')">
          {{filter.selectedWarranty}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </div>
    </mat-chip-list>
    <mat-chip-list *ngIf="filter.purchaseDateFrom || filter.purchaseDateTo" aria-label="purchase date tags">
      <div class="filter-list__chip">
        <span>Data zakupu:</span>
        <mat-chip [removable]="true" (removed)="removeFilter(filter, 'purchaseDate')">
          <span *ngIf="filter.purchaseDateFrom">od {{filter.purchaseDateFrom | date: 'dd.mm.yyyy'}}</span>
          <span *ngIf="filter.purchaseDateTo">do {{filter.purchaseDateTo | date: 'dd.mm.yyyy'}}</span>
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </div>
    </mat-chip-list>
  </div>
</section>
