.bills {
  &__filter {
    width: 300px;
    background: #ffffff;
    margin: 5px;

    .mat-expansion-panel {
      box-shadow: none;
    }
  }

  &__header {
    margin: 20px;

     h1 {
       display: inline-block;
       margin-right: 30px;
     }
  }
}
