<div fxLayout="column" fxLayoutAlign="start center" class="basic-container">
  <span class="logo"><span>po</span>RACHUNKI</span>

  <h2>Logowanie</h2>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" fxLayout="column">
    <mat-form-field>
      <input matInput name="email" ngModel type="email" placeholder="E-mail" #emailInput="ngModel" required email>
      <mat-error *ngIf="emailInput.invalid">Wpisz adres e-mail</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" name="password" ngModel #passwordInput="ngModel" placeholder="Hasło" required>
      <mat-error *ngIf="passwordInput.invalid">Wpisz hasło</mat-error>
    </mat-form-field>
    <button type="submit" mat-button mat-raised-button color="primary">Zaloguj</button>

    <p>Nie masz jeszcze konta? <span><a routerLink="/register">Zarejestruj się</a></span></p>
    <a>Przypomnij hasło</a>

  </form>
</div>



