.card {

  &__image {
    width: 30%;
    height: auto;
    @media only screen and (max-width: 600px) {
      width: 90vw;
    }
  }

  &__data{
    width: 100%;

    &--inputs div {
      margin-right: 15px;
    }
  }

  .mat-form-field {
    width: 100%;
  }
}

