<mat-accordion>
  <mat-expansion-panel [expanded]="!isMobile">
    <mat-expansion-panel-header>
      <h3>Cena</h3>
    </mat-expansion-panel-header>
    <div fxLayout="row" class="input-box">
      <mat-form-field>
        <input matInput placeholder="od" [(ngModel)]="filters.selectedPriceFrom" (ngModelChange)="setPrice()">
        <span matSuffix>zł</span>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="do" [(ngModel)]="filters.selectedPriceTo" (ngModelChange)="setPrice()">
        <span matSuffix>zł</span>
      </mat-form-field>
      <mat-divider></mat-divider>
    </div>
  </mat-expansion-panel>
</mat-accordion>
