<section class="filter__container">
  <h2 class="filter__header">Filtrowanie</h2>
  <app-bills-filter-category [categoryList]="categoryList" [filters]="filter | async"></app-bills-filter-category>
  <app-bills-filter-date [filters]="filter | async"></app-bills-filter-date>
  <app-bills-filter-price [filters]="filter | async"></app-bills-filter-price>
  <app-bills-filter-warranty [filters]="filter | async"></app-bills-filter-warranty>
<!--  <app-bills-show-on-list [elementsView]="elementsView | async"></app-bills-show-on-list>-->
  <button *ngIf="isMobile" mat-flat-button color="primary" (click)="openLink($event)">Pokaż wyniki ({{resultCount | async}})</button>
</section>


