@import "variables";
@import "breakpoints";

.basic__container {
  padding: 40px;

  &--header {
    margin: 20px;
  }
}

@media only screen and (max-width: $xl) {
  .basic__container {
    padding: 20px;

    &--header {
      margin: 10px;
    }
  }
}

.no-result-container {
  text-align: center;
  margin-top: 100px;
}

.card__header {
  padding-bottom: 30px;
}
