@import "variables";
@import "breakpoints";

.basic__container {
  padding: 35px;
}

@media only screen and (max-width: $xl) {
  .basic__container {
    padding: 25px;
  }
}

.no-result-container {
  text-align: center;
  margin-top: 100px;
}


.card {
  padding: 30px 50px;
}

.card__header {
  padding-bottom: 30px;
}
