@import 'breakpoints';
@import 'variables';

:root {
  font-size: 16px;
}

* {
  font-family: $primary-font;
}

h1 {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: bold;
  color: $font-color;
}

h2 {
  font-size: 1rem;
  font-weight: bold;

  span {
    font-weight: normal;
  }
}

p {
  font-size: 0.9rem;
  font-weight: normal;
  color: $font-color;
}

a {
  color: $primary-color;
  font-size: 0.9rem;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: $accent-color;
  }
}

.primary__text {
  color: $primary-color;
}

@media only screen and (min-width: $md) {
  h1 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  h2 {
    font-size: 1rem;
    font-weight: bold;
  }
}
