//colors
$primary-color: #655BF0;
$accent-color: #82E6D4;
$light-accent-color: #FFD6B8;
$warn-color: #ED7166;
$background-color: #F2F6FC;
$font-color: #4e4c56;

//fonts
$primary-font: 'Open Sans', sans-serif;
