<mat-accordion>
  <mat-expansion-panel [expanded]="!isMobile">
    <mat-expansion-panel-header>
      <h3>Pozostało gwarancji</h3>
    </mat-expansion-panel-header>
    <div *ngFor="let option of warrantyOptions" class="checkbox-list" >
      <mat-radio-group [(ngModel)]="filters.selectedWarranty">
        <mat-radio-button [value]="option" (change)="setWarrantyOption(option)" color="primary">
          {{option}}
        </mat-radio-button>
      </mat-radio-group>
      <mat-divider></mat-divider>
    </div>
    <form [formGroup]="warrantyForm" [hidden]="filters.selectedWarranty !== 'zakres'">
      <mat-form-field>
        <input matInput (dateChange)="setRange('fromWarranty')" [matDatepicker]="pickerFromWarranty" placeholder="od" formControlName="fromWarranty">
        <mat-datepicker-toggle matSuffix [for]="pickerFromWarranty"></mat-datepicker-toggle>
        <mat-datepicker touchUi #pickerFromWarranty></mat-datepicker>
      </mat-form-field>
      <mat-form-field >
        <input matInput (dateChange)="setRange('toWarranty')" [matDatepicker]="pickerToWarranty" placeholder="do" formControlName="toWarranty">
        <mat-datepicker-toggle matSuffix [for]="pickerToWarranty"></mat-datepicker-toggle>
        <mat-datepicker touchUi #pickerToWarranty></mat-datepicker>
      </mat-form-field>
    </form>
  </mat-expansion-panel>
</mat-accordion>
